{% extends "mainkraft/basesite.html" %}

{% block title %} Startsite {% endblock %}


{% block content %}

<section id="front-home"  style="background-image: url('/static/img/maszyna_rol.jpg'); ">




</section>




<section id="section1" >



<h3> jak fantastycznie tutaj </h4>

<h1> NA TOPIE </h1>


<ul class="first-ul">
	<li class="first-ul-li"><h3> Nowości </h3></li>
	<li class="first-ul-li"><h3>Promocje </h3></li>
	<li class="first-ul-li"><h3>Bestsellery </h3></li>
	<li class="first-ul-li"><h3>odręki</h3></li>
</ul>
	



</section>


<section id="section2" style="background-image: url('/static/img/mebel2.jpg'); ">

Karaluska


</section>




<section id="section3" >

Karaluska


</section>






























{% endblock %}
