{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport content="width=device-width, initial-scale=1.0">
  
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,100,200,300,500,600,700&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif+Caption:400,700&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,200,300,500,700,800,900&amp;subset=latin-ext">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,100,200,300,500,700&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,100,200,300,500,600,700,800,900&amp;subset=latin-ext">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&amp;subset=latin-ext">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,100,200,300,500,600,700,800,900&amp;subset=latin-ext">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
  <link href="{% static "css/kpstarte.css" %}" rel="stylesheet">
  <link href="{% static "css/krafteshop.css" %}" rel="stylesheet">
   <link href="{% static "css/menu_g.css" %}" rel="stylesheet">
  <link href="{% static "css/presentatos.css" %}" rel="stylesheet">
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="/static/js/jquery-3.6.0.min.js"></script>
   <script src="/static/js/ruchans.js"></script>
  
  
	
</head>
<body>



<section class="intros"  style="background-image: url('/static/img/candle1.jpg');">

</section>







<div id="supheader">
</div>



<header>
		<div id="top-left">
			
			<a href="{% url "main_start" %}">
		
				<div id="logs-central-grid"> 
					<div id="be">KRAFT</div> 
					<div id="te">PARTS</div>  
					<div id="ge"></div> 
					<div id="kwa"> 
						<div id="s1"></div> 
						<div id="s1"></div> 
						<div id="s1"></div>
					</div>
				</div>
			</a>
					
		</div>
		
		<ul class="menu">
			<li>
				Blog
			</li>
			<li>
				Shop
			</li>
			<li>
				<a href="{% url "kontakt" %}"> Kontakt </a>
			</li>
			<li>
				<a href="{% url "about" %}"> About </a>
			</li>
			<li>
				<a href="{% url "eshop_start" %}"> Eshop </a>
			</li>
		</ul>
		
</header>
			
	



<div id="content">

	
    {% block content %}
	{% endblock %}
	 
</div>







<footer>
				<h2>Kraftparts</h2>
		<p>Wrocław, ul. Wielka 7</p>
		<p>TEL: 576 400 400</p>
                   <p id="scop">  &copy; 2023 Kraftparts</p>
</footer>



<script src="/static/js/comps.js"></script>
<script src="/static/js/sliderec.js"></script>


<script>

(function () {
  new Slider("#slider .slide").options({
      prev: "#slider nav button.arrow-prev",
      next: "#slider nav button.arrow-next",
      nav: "#slider nav.dots span",
	  animation: "fade"
  }).init();
})();

</script>

</body>
</html>